/* .container {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  grid-gap: 1rem;
} */

/*matchStats


contains two tables, and all relevant info

- write a function that maps over and sorts players into two team lists, stores it in state
- then render two tables, with relevant props of those arrays of objects.
- in each table, map over info and render a div per player with all relevant info